@using TwinsWins.Components.Modal
@inherits LayoutComponentBase

<PageTitle>TwinsWins</PageTitle>

<header>
    <NavMenu OnConnectClick="OpenConnectModal" />
</header>

<div class="page full-screen">
    <main class="main-content">
        @Body
    </main>
</div>

@if (isConnectModalVisible)
{
    <ConnectModal OnClose="CloseConnectModal" />
}

@code {
    private bool isConnectModalVisible;

    private void OpenConnectModal()
    {
        isConnectModalVisible = true;
    }

    private void CloseConnectModal(bool isVisible)
    {
        isConnectModalVisible = isVisible;
    }
}