<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
    <div class="container">
        <!-- Logo Section -->
        <a class="navbar-brand" href="javascript:void(0);">TwinSwinS</a>

        <!-- Navbar Toggle Button -->
        <button class="navbar-toggler" type="button" @onclick="ToggleNavMenu" aria-controls="navbarSupportedContent" aria-expanded="@(!collapseNavMenu).ToString().ToLower()" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navigation Items -->
        <div class="@NavMenuCssClass" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <!-- Home Link -->
                <li class="nav-item">
                    <NavLink class="nav-link text-dark" href="/" Match="NavLinkMatch.All">
                        <span class="oi oi-home"></span> Home
                    </NavLink>
                </li>
                
                <!-- Connect Button -->
                <li class="nav-item">
                    <NavLink class="nav-link text-dark" href="javascript:void(0);" @onclick="OpenConnectModal">
                        <span class="oi oi-link-intact"></span> Connect
                    </NavLink>
                </li>
                
                <!-- Accounu Link -->
                <li class="nav-item">
                    <NavLink class="nav-link text-dark" href="/account">
                        <span class="oi oi-person"></span> Account
                    </NavLink>
                </li>
                
                <!-- Lobby Link -->
                <li class="nav-item">
                    <NavLink class="nav-link text-dark" href="/lobby">
                        <span class="oi oi-plus"></span> Lobby
                    </NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>

@code {

    [Parameter] public EventCallback OnConnectClick { get; set; }

    string redeemAmount { get; set; } = "";

    int balance { get; set; } = 0;

    bool collapseNavMenu = true;

    string baseMenuClass = "navbar-collapse d-sm-inline-flex";

    string NavMenuCssClass => baseMenuClass + (collapseNavMenu ? " collapse" : "");

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    void OpenConnectModal()
    {
        OnConnectClick.InvokeAsync();
    }

    void Redeem()
    {
        // Handle redeem logic here
        if (!string.IsNullOrWhiteSpace(redeemAmount) && int.TryParse(redeemAmount, out int amount) && amount > 0)
        {
            balance += amount;
            Console.WriteLine($"Redeemed amount: {amount}. New balance: {balance}");
        }
        else
        {
            Console.WriteLine("Please enter a valid amount to redeem.");
        }
    }
}