@using Microsoft.JSInterop
@using TwinsWins.Components.Modal
@inject IJSRuntime JSRuntime

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
    <div class="container">
        <!-- Logo Section -->
        <a class="navbar-brand" href="javascript:void(0);">TwinSwinS</a>

        <!-- Navbar Toggle Button -->
        <button class="navbar-toggler" type="button" @onclick="ToggleNavMenu" aria-controls="navbarSupportedContent" aria-expanded="@(!collapseNavMenu).ToString().ToLower()" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navigation Items -->
        <div class="@NavMenuCssClass" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <!-- Home Link -->
                <li class="nav-item">
                    <NavLink class="nav-link text-dark" href="/" Match="NavLinkMatch.All">
                        <span class="oi oi-home"></span> Home
                    </NavLink>
                </li>

                <!-- Connect Button -->
                @if (!isWalletConnected)
                {
                    <li class="nav-item">
                        <NavLink class="nav-link text-dark" href="javascript:void(0);" @onclick="OpenConnectModal">
                            <span class="oi oi-link-intact"></span> Connect
                        </NavLink>
                    </li>
                }

                <!-- Account Link -->
                @if (isWalletConnected)
                {
                    <li class="nav-item">
                        <NavLink class="nav-link text-dark" href="/account">
                            <span class="oi oi-person"></span> Account
                        </NavLink>
                    </li>
                }

                <!-- Logout Button -->
                @if (isWalletConnected)
                {
                    <li class="nav-item">
                        <NavLink class="nav-link text-dark" href="javascript:void(0);" @onclick="Logout">
                            <span class="oi oi-account-logout"></span> Logout
                        </NavLink>
                    </li>
                }
                
                <!-- Lobby Link -->
                <li class="nav-item">
                    <NavLink class="nav-link text-dark" href="/lobby">
                        <span class="oi oi-plus"></span> Lobby
                    </NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>

<ConnectModal @ref="connectDialog" OnWalletConnected="HandleWalletConnected" />

@code {

    bool collapseNavMenu = true;
    private bool isWalletConnected = false;
    private ConnectModal? connectDialog;

    string baseMenuClass = "navbar-collapse d-sm-inline-flex";

    string NavMenuCssClass => baseMenuClass + (collapseNavMenu ? " collapse" : "");

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var account = await JSRuntime.InvokeAsync<string>("connectMetaMask");
            if (!string.IsNullOrEmpty(account))
            {
                isWalletConnected = true;
                StateHasChanged();
            }
        }
    }

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    void OpenConnectModal()
    {
        connectDialog?.OpenDialog();
    }

    void HandleWalletConnected()
    {
        isWalletConnected = true;
        StateHasChanged();
    }

    void Logout()
    {
        isWalletConnected = false;
        StateHasChanged();
    }
}